/* *{
  margin: 0;
}
.homeCover{
  height: 100vh;
  background-color: bisque;
  position: relative;
  background-image: url(/assets/images/img-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeCover > h1{
  margin-top: 0;
  padding: 50vh 20px 20px;
}
.homeCover > p{
  margin-top: 0;
  padding: 10px 25px;
}
#main-collapse{
  box-sizing: border-box;
  padding: 0;
} */