@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab,wght@1,500&display=swap');
/* 
  font-family: 'Amatic SC', cursive; headings
  font-family: 'Josefin Slab', serif; texts
*/


*{
  margin: 0;
}
main{
  overflow: hidden;
}
.homeCover{
  height: 100vh;
  background-color: bisque;
  position: relative;
  background-image: url(/assets/images/img-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.homeCover  h1{
  color: white;
}
.homeCover > div{
  padding-left: 40px;
  color: white;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
}
.nav li{
  width: 100%;
}
.nav li a {
  color: white;
  font-style: normal;
  text-align: center;
}

.nav .line::after{
  position: absolute;
  content: "";
  width: 80%;
  left: 20px;
  height: 2px;
  background-color: black;
}
.quote{
  text-align: center;
  font-size: 18px;
}
 .hadi{
  height: 400px;
  width: 100%;
}
.heading2{
  text-align: center;
  padding: 30px 0px;
}
.flexSection{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.flexSection .flexSectionSon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexSection .flexSectionSon h3{
  padding-bottom: 20px;
}
.flexSection .flexSectionSon p{
  padding: 10px;
  text-align: center;
}
.image1 {
  width: 50%;
}
.threAreas{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.area h3{
  text-align: center;
}
@media screen and (max-width:1050px) {
  .flexSection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image1 {
    width: 80%;
  }
  .hadi{
    display: none;
  }
  
}
@media screen and (max-width:850px) {
  .threAreas{
    flex-direction: column;
  }
}